@use "@angular/material" as mat;
@use "theme-colors" as my-theme;

html {
  color-scheme: light dark;

  @include mat.theme(
    (
      theme-type: color-scheme,
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Roboto,
    )
  );

  // Use high contrast values when users prefer contrast
  @media (prefers-contrast: more) {
    @include my-theme.high-contrast-overrides(color-scheme);
  }
}

$button-corner-radius: 12px;

html,
body {
  height: 100%;

  // Override button shape tokens to reduce roundness
  --mat-button-elevated-container-shape: #{$button-corner-radius};
  --mat-button-filled-container-shape: #{$button-corner-radius};
  --mat-button-icon-container-shape: #{$button-corner-radius};
  --mat-button-outlined-container-shape: #{$button-corner-radius};
  --mat-button-protected-container-shape: #{$button-corner-radius};
  --mat-button-text-container-shape: #{$button-corner-radius};
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
